.details_games {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
  .screenshot {
    img {
      width: 100%;
      object-fit: coverg;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      clip-path: polygon(0 0, 100% 0%, 100% 50%, 0 40%);
    }
    @include mobile {
      img {
        display: none;
      }
    }
    @include large {
      img {
        width: 100%;
        clip-path: none;
      }
    }
  }

  .game_content {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 3rem;
    z-index: 2;
    gap: 2rem;
    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @include mobile {
      margin-top: 0;
    }

    .game_content_cover {
      max-width: 350px;

      @include mobile {
        width: 100%;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
    }
    .game_content_card {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 1.5rem;
      padding: 25px;
      background: rgba(255, 255, 255, 0);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      backdrop-filter: blur(50px);
      -webkit-backdrop-filter: blur(50px);
      border-radius: 10px;
      @include mobile {
        width: 100%;
      }
      .game_content_card_header {
        .game_title {
          font-size: 1.6rem;
          font-weight: 700;
          color: white;
          margin-bottom: 1rem;
          text-align: center;
        }
      }

      .game_content_card_mid {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        color: white;
        font-size: 1.2rem;
        font-weight: 400;
        padding: 0 5px;
        .game_rating {
          padding: 15px;
          border-radius: 10px;
        }
      }

      .game_price {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: white;
        font-size: 3rem;
        font-weight: 400;
        .price_sold {
          font-size: 1.5rem;
          text-decoration: line-through;
          color: red;
        }
      }

      .game_select {
        width: 100%;
        display: flex;
        gap: 5px;
        border-radius: 10px;
        overflow: hidden;
        .game_platform,
        .game_edition {
          width: 250px;
          height: 50px;
          border: none;
          outline: none;
          appearance: none; /* Supprime les styles par défaut du navigateur */
          -moz-appearance: none; /* Firefox */
          padding: 0 10px;
          font-size: 1rem;
          font-weight: 500;
          color: #ebeaea;
          background-color: rgba(5, 5, 5, 0.9);
          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);
          .game_platform option,
          .game_edition option {
            padding: 10px;
          }
        }
      }
      .buy_btn {
        font-size: 1.2rem;
        font-weight: 700;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 1rem;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        background-color: #e71708;
        transition: all 0.1s ease-in-out;
      }
      .buy_btn:hover {
        box-shadow:
          rgba(255, 255, 255, 0.4) 0px 2px 4px,
          rgba(255, 255, 255, 0.3) 0px 7px 13px -3px,
          rgba(255, 255, 255, 0.2) 0px -3px 0px inset;
        transform: translateY(-2px);
      }
      .buy_btn:active {
        transform: translateY(0px);
        box-shadow: none;
      }
    }
  }

  .game_content_footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    color: #fff;
    font-size: 1.1rem;
    line-height: 1.4rem;
    letter-spacing: 1.1px;
    z-index: 2;
    padding: 2rem;
    @include tablet {
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
    }
    .game_summary {
      width: 600px;
      text-align: justify;
      @include tablet {
        width: 100%;
      }
      @include mobile {
        font-size: 0.8rem;
      }
    }
    .game_details {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 600px;
      @include tablet {
        width: 100%;
      }

      .game_publisher,
      .game_developer,
      .game_genre,
      .game_release,
      .game_platforms,
      .game_modes {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        @include mobile {
          gap: 0;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 5px;
        }
      }
      p:first-child {
        color: rgba(255, 255, 255, 0.6);
      }
      p:last-child {
        font-size: 0.9rem;
        width: 60%;
        margin: 5px;
      }
      @include mobile {
        font-size: 0.8rem;
      }
    }
  }

  .game_content_trailer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    z-index: 2;
    .game_trailer {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      .iframe {
        width: 1000px;
        height: 500px;
        @include tablet {
          width: 600px;
          height: 400px;
        }
        @include mobile {
          width: 300px;
          height: 200px;
        }
      }
    }

    .game_screenshots {
      display: flex;
      gap: 1rem;
      width: 100%;
      text-align: center;
      img {
        width: 80%;
        object-fit: contain;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
    }

    .similar_games {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include tablet {
        width: 100%;
      }
      .similar_games_title {
        font-size: 2rem;
        color: white;
        margin-bottom: 2rem;
        align-self: flex-start;
        @include tablet {
          align-self: center;
        }
      }
      .similar_games_list {
        padding: 0 10px;
        display: grid;
        grid-template-columns: repeat(
          4,
          1fr
        ); // 3 éléments par ligne sur grand écran
        gap: 2rem;
        @include tablet {
          grid-template-columns: repeat(
            2,
            1fr
          ); // 2 éléments par ligne sur écran tablette
        }
        @include mobile {
          grid-template-columns: repeat(1, 1fr);
        }
        .similar_game {
          max-width: 350px;
          border-radius: 2px;
          overflow: hidden;
          transition: all 0.3s ease-in-out;
          img {
            width: 100%;
            height: auto;
          }
        }
        .similar_game:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
