* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  max-width: 100%;
  min-height: 150vh;
  background-image: url("/Images/background/background_3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(202, 35, 35);
}

body {
  --sb-track-color: #434f54;
  --sb-thumb-color: #383838;
  --sb-size: 8px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
}
