@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  max-width: 100%;
  min-height: 100vh;
  background-image: url("/Images/background/background_7.jpg");
  background-size: fill;
  background-repeat: no-repeat;
  font-family: "Play", sans-serif;
  color: rgb(202, 35, 35);
}

body {
  --sb-track-color: #434f54;
  --sb-thumb-color: #383838;
  --sb-size: 8px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
}
