.searchGames {
  padding: 10px 10px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
  }
  @include mobile {
    grid-template-columns: repeat(2, 1fr);
  }
}
.gameItem {
  display: flex;
  flex-direction: column;
  .gameItem_cover {
    width: 100%;
  }
}
