.display_games_main {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 15px;
  gap: 5em;
}
.display_games {
  display: flex;
  flex-direction: column;
  .page_title {
    font-size: 2.5rem;
    color: white;
  }
  .game_list {
    .game_element {
      transition: all 0.3s ease-in-out;
      border-radius: 5px;
      overflow: hidden;
      margin-top: 2rem;
      margin-bottom: 2rem;
      margin-right: 2px;
      position: relative;
      .game_cover {
        width: 100%;
        display: flex;
        flex-direction: column;
        .game_cover_img {
          width: 100%;
          height: 100%;
        }
      }
      .game_content_detail {
        display: none;
        height: 50%;
        width: 100%;
        padding: 1rem;
        position: absolute;
        bottom: 0;
        color: white;
        background-color: rgba(0, 0, 0, 0.96);
        .game_title {
          font-size: 1.5rem;
        }
        .game_content_bottom {
          display: flex;
          align-items: center;
          .rating {
            border-radius: 5px;
            padding: 10px;
            background-color: red;
            margin-right: 1rem;
          }
          .game_genres {
            font-size: 0.9rem;
            color: #555557;
          }
        }
      }
    }
    .game_element:hover {
      transform: translateY(-10px) scale(1.1);
      z-index: 1000;
      .game_content_detail {
        display: block;
      }
    }
  }
}
